<a href= '/'>Home</a>
<%= link_to("View Post", '/', method: :get) %>
<%= link_to("New Post", new_post_path, method: :get) %>
<%= link_to("Logout", destroy_user_session_path, method: :delete) %>
<%if current_user.admin %>
  <%= link_to("Admin", destroy_user_session_path, method: :delete) %>
<%end %>