<a href= '/'>Home</a>
<%= link_to("View Post", new_post_path, method: :get) %>
<%= link_to("New Post", new_post_path, method: :get) %>
<%= link_to("Logout", destroy_user_session_path, method: :delete) %>
